env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
.env.db
.env.dev
.idea/*
.gitignore
.env.staging.db
.env.staging
.env.prod.db
.env.prod
.env.prod.proxy-companion
.env.staging.proxy-companion
.env